#gitignore file

#ignore most folders
/Bourguet_Transkriptionen/*
/Mairan_Transkriptionen/*
/Michelotti_Test/*
/Michelotti_Transkriptionen/*
/NicIB_Michelotti_Transkriptionen/*
/NicIB_Varignon_Transkriptionen/*
/Tressan_JohIIB_Transkriptionen/*
/XML Dateien aus Testdump/*
/xml/*

#ignore finished transformations
*.html

#ignore oxygen project files
*.xpr

#ignore weird files (Mac OS stuff, it seems)
.DS_Store

#include forder for comment tests
#!/Mairan_Transkriptionen/test_comment
