#gitignore file

#ignore most folders
/Bourguet_Transkriptionen/*
/Mairan_Transkriptionen/*
/Michelotti_Transkriptionen/*
/NicIB_Michelotti_Transkriptionen/*
/Varignon-NicI_Transkriptionen/*
/XML Dateien aus Testdump/*
/xml/*

#ignore finished transformations
*.html

#ignore weird files (no idea, what they do...)
.DS_Store

#include forder for comment tests
!/Mairan_Transkriptionen/test_comment
